<h3><i class="fa-solid fa-parachute-box"></i>  KMS</h3>
<div class="section">
    <p class="lead">Know My Story - A Suicide Prevention App</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn #007892 ">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>
