<h3><i class="fa-solid fa-parachute-box"></i>  KMS</h3>
<div class="section">
    <p class="lead">Know My Story - Suicide Prevention App</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>

{{!-- <i class="fa-regular fa-sailboat"></i>
<i class="fa-solid fa-person-drowning"></i>
<i class="fa-solid fa-parachute-box"></i>  --}}